<div class="py-5">
    <footer class="text-center  text-lg-start text-light py-1">
        <section class="">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Hamro Auction</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
                        <p>
                            Here you can bid your product within your interrest by filtering catgeory wise.
                            elit.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
                        {% for cat in category %}

                        <p>
                            <a href="/?category={{cat.id}}" class="text-light">{{cat.title}}</a>
                        </p>
                        {%endfor%}


                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" />
                        <p>
                            {% if user.is_authenticated%}
                            <a href="/profile/{{request.user.id}}" class="text-light">Your Account</a>
                            {%else%}
                            <a href="/signin" class="text-light">Your Account</a>
                            {%endif%}

                        </p>
                        <p>
                            <a href="#!" class="text-light">Help</a>
                        </p>
                        <p>
                            <a href="/aboutus" class="text-light">About us</a>
                        </p>
                        <p>
                            <a href="/contact" class="text-light">Conatct us</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
                        <div class="my-3 d-flex align">
                            <div>
                            <i class="fa-solid fa-location-dot mx-3"></i>
                            </div>
                            <div >
                                 Kathmandu Nepal
    
                            </div>
                        </div>
                        <div class="my-3 d-flex align" >
                            <div>
                                <i class="fa-solid fa-phone mx-3"></i>
                            </div>
                            <div >
                                +977 9817405449
                            </div>
                        </div>
                        <div class="my-3 d-flex align">
                            <div>
                                <i class="fa-solid fa-paper-plane mx-3"></i>
                            </div>
                            <div >
                                 hamroauctionsystem@gmail.com
                            </div>
                        </div>
                        <div class="my-3 d-flex align">
                            <div>
                                <i class="fa-solid fa-earth-africa mx-3"></i>
                            </div>
                            <div>
                            hamroauctionsystem.com
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-light" href="https://mdbootstrap.com/">AuctionSystem.com</a>
        </div>
    </footer>
</div>