{% extends 'base.html'%}
{% block content%}
<div id="bprice" style="visibility: hidden;">
    {{p.bidPrice}}00
</div>
<div id="product" style="visibility: hidden;">
    {{p.product}}
</div>

<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    
    <div style="top: 45%;position: absolute;left: 45%;">
        <button id="payment-button" class="btn " style="background-color: #5C2D91; cursor: pointer; color: #fff;">Pay with Khalti</button>
    </div>
   
    <script>
        var config = {
            "publicKey": "test_public_key_debab4e187d049b8a6c16033620b529d",
            "productIdentity": "{{p.id}}",
            "productName": "{{p.product}}",
            "productUrl": "http://127.0.0.1:8000",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    axios.get('khaltiPaymentVerify',{
                        params :{
                            "token": payload.token,
                            "amount": payload.amount,
                            "product": payload.product_name,
                            "product_id": payload.product_identity,
                        }
                    }).then(function(resp){
                        //console.log(resp.data);
                        if( resp.data.success == true){
                            alert("Payment is Succefull. Details of payment is sent to your email account.");
                            location.href="/";
                        }
                        else{
                            alert("Opps !! your payment is failed")
                            location.href= "{{request.build_absolute_uri}}"
                        }
                    })
                    console.log(payload);
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: document.getElementById("bprice").textContent});
        }
    </script>
    <!-- Paste this code anywhere in you body tag -->
{%endblock%}