{% extends 'base.html'%}
{%block content%}
{%include 'header.html'%}
<div class="sellwithus bg-dark py-5 text-light">
    <div class="text-center ">
        <h1 class="text-info"> Wants to sell with us.</h1>
        <h5 class="my-3">Welcome 🙏🏻 to Hamro Auction System</h5>
        <p>If you wish to sell with us just fill the form below and let us know your information. With in 24 hour you
            can add as well as manage your posted product item.</p>
    </div>
</div>
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show d-flex justify-content-center" role="alert">
    <strong>Message ! </strong>{{ message }}
</div>
{%endfor%}
<div class="container my-3">
    <div class="row justify-content-center ">
        <div class="col-md-6  sellwithus p-3 rounded">
            <form action="" method="post" class="needs-validation" novalidate>
                <div class="my-3 ">
                    <h4 style="color: gray;">Send us Message</h4>
                </div>
                {% csrf_token %}
                <div class="form-floating my-3">
                    <input type="text" name="fullname" id="floatingName" class="form-control" placeholder="Name"
                        required>
                    <label for="floatingAddress" class="form-label">Full Name</label>
                    <div class="invalid-feedback">
                        Please enter your name.
                    </div>
                </div>
                <div class="form-floating my-3">
                    <input type="text" name="username" id="floatingEmail" class="form-control" placeholder="Name"
                        required>
                    <label for="floatingAddress" class="form-label">Your Username</label>
                    <div class="invalid-feedback">
                        Please provide your username.
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="floatingMessage" name="description"
                        placeholder="Leave a comment here" id="floatingTextarea" required
                        style="height: 100px"></textarea>
                    <label for="floatingTextarea">What are you up to sell.</label>
                    <div class="invalid-feedback">
                        Please provide some message description.
                    </div>
                </div>
                <input type="submit" value="submit" class="btn btn-success my-3">

            </form>
        </div>
    </div>
</div>
{% include 'use.html'%}
{%endblock%}